.signout_closeBtn {
  all: unset;
  background-color: none;
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.signout_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  animation: appear 350ms ease-in 1;
}

.signout_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.signout_content {
  background-color: #febe54;
  padding: 40px 50px;
  text-align: center;
  position: relative;
  width: 470px;
  top: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.signout_hidden {
  display: none;
}

.signout_writing {
  padding-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 70%;
}

.signout_title {
  font-size: 35px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.signout_subtitle {
  font-size: 20px;
  margin: 0 auto;
}

.signout_infor_text {
  padding-top: 40px;
}

.signout_input-box {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100px;
  margin: 0 auto;
  align-items: center;
}

.signout_input-box2 {
  display: flex;
  flex-direction: column;
  width: 120%;
  align-items: center;
  margin: 10px 0 10px 0;
  font-size: 13px;
  color: rgb(224, 30, 30);
}

.signout_input {
  font-weight: 100px;
  padding: 10px 20px;
  border: 2px solid #8a8a8a !important;
  margin: 20px 0 10px 0;
  height: 35px;
  font-size: 15px;

  background-color: rgba(255, 255, 255, 0.884);
}

.signout_btn {
  all: unset;
  color: white;
  font-size: 17px;
  background-color: rgb(0, 0, 0);
  width: 90px;
  height: 40px;
  cursor: pointer;
  margin: 0 0 30px 0;
  align-items: center;
  border-radius: 30px;
}

.signout_btn:hover {
  color: rgb(178, 176, 176);
}
