.render_deco-container {
  position: relative;
}

.render_deco-sha {
  width: 7px;
  height: 25px;
  position: absolute;
}

.render_deco1 {
  background-color: #418dd0;
  left: 290px;
  bottom: -150px;
  transform: rotate(70deg);
  animation-duration: 1s;
  animation-name: slidedeco1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco1 {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: translateX(20px);
  }
}

.render_deco2 {
  left: -40px;
  background-color: #ec7f7e;
  animation-duration: 1s;
  animation-name: slidedeco2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco2 {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(102deg) translateX(20px);
  }
}

.render_deco3 {
  left: 210px;
  bottom: 15px;
  background: #5bb89d;
  animation-duration: 1s;
  animation-name: slidedeco3;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco3 {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(102deg) translateX(20px);
  }
}

.render_deco4 {
  left: 50px;
  bottom: -180px;
  background: #c054cb;
  animation-duration: 1s;
  animation-name: slidedeco4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco4 {
  0% {
    transform: rotate(27deg);
  }
  100% {
    transform: rotate(34deg) translateX(20px);
  }
}

.render_deco5 {
  left: -70px;
  bottom: -120px;
  background: #5bb89d;
  animation-duration: 1s;
  animation-name: slidedeco5;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco5 {
  0% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg) translateX(20px);
  }
}

.render_deco6 {
  left: 350px;
  bottom: -70px;
  background-color: #ec7f7e;
  animation-duration: 1s;
  animation-name: slidedeco6;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco6 {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-70deg) translateX(20px);
  }
}

.render_deco7 {
  left: 202px;
  bottom: -190px;
  background-color: #5bb89d;
  animation-duration: 1s;
  animation-name: slidedeco7;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco7 {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-140deg) translateX(20px);
  }
}

.render_deco8 {
  left: 80px;
  bottom: 28px;
  background-color: #418dd0;
  animation-duration: 1s;
  animation-name: slidedeco8;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidedeco8 {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-140deg) translateX(20px);
  }
}

@media screen and (max-width: 550px) {
  .render_deco-sha {
    width: 5px;
    height: 20px;
  }

  .render_deco1 {
    left: 220px;
    bottom: -120px;
  }

  .render_deco4 {
    left: 50px;
    bottom: -147px;
  }

  .render_deco5 {
    left: -40px;
    bottom: -110px;
  }

  .render_deco6 {
    left: 270px;
    bottom: -70px;
  }

  .render_deco7 {
    left: 160px;
    bottom: -170px;
  }
}
