.render_main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1060px;
  padding: 100px 0 200px 0;
  align-items: center;
  background-color: #f8f8f8;
}

.render_main_title-box {
  text-align: center;
  font-size: 25px;
  color: #fa9c00;
}

.render_main_dot-box {
  font-size: 70px;
  color: black;
}

.render_main_dot {
  height: 30px;
}

.render_main_gif-box {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.render_main_imac {
  position: absolute;
  width: 700px;
  height: 600px;
}

.render_main_ipad {
  position: absolute;
  display: none;
  width: 500px;
  height: 650px;
}

.render_main_iphone {
  position: absolute;
  display: none;
  width: 350px;
  height: 550px;
}

@media screen and (max-width: 770px) {
  .render_main_ipad {
    display: inherit;
  }
  .render_main_imac {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .render_main_iphone {
    display: inherit;
  }
  .render_main_ipad {
    display: none;
  }
  .render_main_title-box {
    font-size: 20px;
  }
  .render_main_dot-box {
    font-size: 50px;
  }
}
