.store_review_li-box {
  display: flex;
  width: 100%;
  margin-bottom: 55px;
}

.store_review_img {
  width: 80px;
  height: 100px;
}

.store_balloon {
  position: relative;
  margin-left: 30px;
  width: 100%;
  height: 100%;
  background: #f1efef;
  border-radius: 10px;
}
.store_balloon:after {
  border-top: 30px solid #f1efef;
  border-left: 30px solid transparent;
  content: "";
  position: absolute;
  top: 10px;
  left: -25px;
}

.store_balloon-none {
  position: static;
}

.store_review-info {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store_review-info-box {
  display: flex;
}

.store_review-content {
  padding: 10px 20px;
}

.store_review-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.store_review-info-text {
  padding-right: 13px;
  display: flex;
  align-items: center;
}

.store_review-info-day {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(166, 166, 166);
  padding-right: 13px;
}

.store_review-good {
  padding-left: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .store_review_ul-box {
    padding: 50px 25px 50px 25px;
  }
  .store_review_img {
    width: 65px;
    height: 80px;
  }
}

@media screen and (max-width: 920px) {
  .store_review_box {
    padding: 110px 0;
  }
}

@media screen and (max-width: 770px) {
  .store_review_ul-box {
    padding: 50px 10px 50px 10px;
  }
  .store_review-content {
    font-size: 14px;
    padding: 10px 20px;
  }
  .store_review-info-text {
    font-size: 14px;
    padding-right: 7px;
  }
  .store_review-info-day {
    font-size: 12px;
    padding-right: 7px;
  }
  .store_review-good {
    padding-left: 7px;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .store_review_img {
    width: 50px;
    height: 60px;
  }
  .store_review-info-text {
    font-size: 13px;
    padding-right: 3px;
  }
  .store_review-info-day {
    font-size: 7px;
    padding-right: 7px;
  }
}

@media screen and (max-width: 480px) {
  .store_review-info-day {
    display: none;
  }
  .store_review_img {
    width: 35px;
    height: 40px;
  }

  .store_review-info-text {
    font-size: 10px;
    padding-right: 7px;
  }
  .store_review-good {
    padding-left: 7px;
    font-size: 10px;
  }
}
