.search_result-empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 220px;
  height: 220px;
}

.search_result-empty-img {
  width: 100%;
  height: 100%;
}

.search_result-empty-text {
  width: 100%;
  font-size: 23px;
}
