.render_intro_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  height: 850px;
  padding-bottom: 100px;
  align-items: center;
  background-color: #febe54;
}

.render_intro_title-box {
  padding-bottom: 300px;
  text-align: center;
}

.render_intro_title {
  font-family: "Jua";
  font-size: 45px;
  color: rgb(254, 253, 253);
}

.render_intro_box {
  position: relative;
}

.render_intro_balloon_01 {
  position: absolute;
  margin: 50px;
  width: 200px;
  height: 100px;
  background: #fff;
  border-radius: 150px;
  left: 196px;
  bottom: 100px;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.render_intro_balloon_01:after {
  border-top: 30px solid #fff;
  border-left: 50px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 50px;
  left: -20px;
}

.render_intro_word-box-1 {
  font-size: 18px;
  left: 30px;
  bottom: 26px;
  position: absolute;
}

.render_intro_balloon_02 {
  position: absolute;
  margin: 50px;
  width: 200px;
  height: 100px;
  background: #fff;
  border-radius: 150px;
  left: -210px;
  bottom: 163px;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.render_intro_balloon_02:after {
  border-top: 40px solid #fff;
  border-left: 17px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 60px;
  left: 182px;
}

.render_intro_word-box-2 {
  font-size: 18px;
  left: 40px;
  bottom: 28px;
  position: absolute;
}

.render_intro_balloon_03 {
  position: absolute;
  margin: 50px;
  width: 200px;
  height: 100px;
  background: #fff;
  border-radius: 150px;
  left: -232px;
  bottom: -20px;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.render_intro_balloon_03:after {
  border-top: 26px solid #fff;
  border-left: 20px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 7px;
  left: 162px;
}

.render_intro_word-box-3 {
  font-size: 18px;
  left: 20px;
  bottom: 25px;
  position: absolute;
}

.render_intro_balloon_04 {
  position: absolute;
  margin: 50px;
  width: 228px;
  height: 104px;
  background: #fef79b;
  border-radius: 20px;
  left: 170px;
  bottom: -108px;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.render_intro_word-box-4 {
  font-size: 18px;
  left: 20px;
  bottom: 25px;
  position: absolute;
}

.render_intro_word-yummy {
  font-family: "Nanum_bolder";
  margin-bottom: 11px;
}

.render_intro_access-main {
  font-size: 18px;
  color: #32b41b;
  border-bottom: 2px solid;
  cursor: pointer;
}

.render_intro_title_img {
  width: 250px;
  height: 250px;
}

.render_intro_word-box2 {
  display: flex;
}

.render_intro_word-main {
  font-family: "Nanum_bolder";
  color: #ef9500;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .render_intro_title {
    font-size: 35px;
  }

  .render_intro_word-box-1 {
    font-size: 15px;
  }

  .render_intro_word-box-2 {
    font-size: 15px;
  }

  .render_intro_word-box-3 {
    font-size: 15px;
  }

  .render_intro_balloon_01 {
    width: 178px;
    height: 85px;
    left: 170px;
    bottom: 77px;
  }

  .render_intro_balloon_02 {
    width: 155px;
    height: 80px;
    left: -158px;
  }

  .render_intro_balloon_02:after {
    top: 57px;
    left: 129px;
  }

  .render_intro_word-box-2 {
    left: 28px;
    bottom: 20px;
  }

  .render_intro_balloon_03 {
    width: 171px;
    height: 78px;
    left: -200px;
    bottom: -45px;
  }

  .render_intro_balloon_03:after {
    top: 5px;
    left: 142px;
  }

  .render_intro_word-box-3 {
    bottom: 20px;
  }

  .render_intro_balloon_04 {
    width: 188px;
    height: 96px;
    left: 110px;
  }

  .render_intro_word-box-4 {
    font-size: 15px;
  }

  .render_intro_access-main {
    font-size: 15px;
  }

  .render_intro_title_img {
    width: 210px;
    height: 220px;
  }
}

@media screen and (max-width: 600px) {
  .render_intro_word-box-1 {
    font-size: 12px;
    left: 18px;
    bottom: 23px;
  }

  .render_intro_word-box-2 {
    font-size: 12px;
    left: 20px;
  }

  .render_intro_word-box-3 {
    font-size: 12px;
  }

  .render_intro_word-box-4 {
    font-size: 12px;
  }

  .render_intro_balloon_01 {
    width: 130px;
    height: 77px;
  }

  .render_intro_balloon_02 {
    width: 117px;
    height: 70px;
  }

  .render_intro_balloon_02:after {
    top: 47px;
    left: 93px;
    border-top: 29px solid #fff;
  }

  .render_intro_balloon_02 {
    left: -113px;
    bottom: 139px;
  }

  .render_intro_balloon_03 {
    width: 135px;
    height: 69px;
    left: -161px;
  }

  .render_intro_balloon_03:after {
    top: 5px;
    left: 106px;
    border-top: 15px solid #fff;
  }

  .render_intro_balloon_04 {
    width: 155px;
    height: 87px;
    left: 78px;
  }

  .render_intro_access-main {
    font-size: 12px;
  }

  .render_intro_balloon_01 {
    left: 128px;
    bottom: 179px;
    margin: 0px;
  }

  .render_intro_balloon_01:after {
    border-top: 29px solid #fff;
    border-left: 6px solid transparent;
    border-right: 15px solid transparent;

    top: 65px;
    left: 10px;
  }
}

@media screen and (max-width: 450px) {
  .render_intro_balloon_03 {
    left: -125px;
    bottom: -115px;
  }

  .render_intro_balloon_03:after {
    border-top: 31px solid transparent;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 25px solid #fff;

    top: -48px;
    left: 99px;
  }
}
