.main_wrap {
  width: 1920px;
  margin-top: 170px;
}

.main_wrap,
.main_container {
  width: 100%;
  height: 500px;
}

.main_svg-map {
  overflow: visible;
  width: 65%;
  height: 65%;
  padding: 0 0 0 150px;
}

.main_bottom-box {
  width: 100%;
  height: 700px;
}

@media (max-width: 1600px) {
  .main_svg-map {
    padding: 0 0 0 0;
  }
}

@media (max-width: 1440px) {
  .main_container {
    width: 80%;
    height: 500px;
  }
  .main_svg-map {
    overflow: visible;
    width: 80%;
    height: 60%;
  }
}

@media (max-width: 1240px) {
  .main_container {
    width: 70%;
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .main_container {
    width: 50%;
    height: 500px;
  }
}

@media (max-width: 770px) {
  .main_wrap {
    margin-top: 0px;
  }
}

.OUTLINE {
  stroke-linejoin: round;
  stroke: #febe54;
  stroke-width: 2;
}

.TEXT {
  fill: #454343;
  font-size: 14px;
  text-anchor: middle;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  pointer-events: none;
}
