/* Base setup */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  text-align: center;
  background: rgb(255, 255, 255);
  color: #333;
}

.star_select_imoge-box {
  position: relative;
  height: 15px;
  width: 30px;
  margin: 25px auto;
}
.star_select_imoge {
  position: absolute;
  animation: bounce-in-fwd 1.1s both;
  font-size: 60px;
  top: -40px;
  right: -16px;
}
/* Ratings widget */
.star_select_rate {
  display: inline-block;
  border: 0;
  width: 255px;
  height: 50px;
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.star_select_imoge-none {
  display: none;
}

/* Hide radio */
.star_select_rate > .star_select_input {
  display: none;
}
/* Order correctly by floating highest to the right */
.star_select_rate > .star_select_label {
  float: right;
}
/* The star of the show */
.star_select_rate > .star_select_label:before {
  display: inline-block;
  font-size: 3rem;
  padding: 0.3rem 0.2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 "; /* full star */
}

/* Half star trick */
.star_select_rate .star_select_half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}
/* Click + hover color */
.star_select_input:checked ~ .star_select_label, /* color current and previous stars on checked */
.star_select_label:hover, .star_select_label:hover ~ .star_select_label {
  color: #f4b700;
} /* color previous stars on hover */

/* Hover highlights */
.star_select_input:checked + .star_select_input:hover, .star_select_input:checked ~ .star_select_label:hover, /* highlight current and previous stars */
.star_select_input:checked ~ .star_select_label:hover ~ .star_select_label, /* highlight previous selected stars for new rating */
.star_select_label:hover ~ .star_select_input:checked ~ .star_select_label /* highlight previous selected stars */ {
  color: #f4b700;
}

@media screen and (max-width: 700px) {
  .star_select_rate > .star_select_label:before {
    font-size: 2.5rem;
  }
  .star_select_rate {
    width: 223px;
  }
  .star_select_imoge {
    font-size: 50px;
    top: -34px;
    right: -12px;
  }

  .star_select_imoge-box {
    margin: 15px auto;
  }
}

@media screen and (max-width: 470px) {
  .star_select_rate {
    width: 166px;
  }
  .star_select_rate > .star_select_label:before {
    font-size: 1.8rem;
  }

  .star_select_imoge {
    font-size: 40px;
    top: -30px;
    right: -5px;
  }
}
