.singup_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  animation: appear 350ms ease-in 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.signup_closeBtn {
  all: unset;
  background-color: none;
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}

.signup_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.signup_content {
  background-color: #febe54;
  padding: 40px 50px;
  text-align: center;
  position: relative;
  width: 500px;
  top: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.signup_hidden {
  display: none;
}

.signup_writing {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.signup_title {
  font-size: 40px;
  margin: 0px auto 20px auto;
  padding-top: 15px;
}

.signup_image-label {
  display: flex;
  justify-content: center;
}

.signup_label {
  cursor: pointer;
  font-size: 1em;
  margin-top: 15px;
}

#chooseFile {
  visibility: hidden;
}

.signup_container {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}

.sign_input-box {
  display: flex;
  flex-direction: column;
}

.signup_image-box {
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.signup_input-box {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.signup_input {
  font-weight: 100;
  padding: 10px 20px;
  border: 2px solid #8a8a8a !important;
  margin: 10px auto;
  height: 45px;
  font-size: 20px;
  border-radius: 30px;
}

.sign_password {
  font-size: 16px;
}

.sign_password-check {
  font-size: 16px;
  color: red;
}

.sign_input-text-box {
  height: 90px;
  display: flex;
  flex-direction: column;
}

.signup_input-last {
  font-weight: 100;
  padding: 10px 20px;
  border: 2px solid #8a8a8a !important;
  margin: 3px auto 5px auto;
  height: 45px;
  font-size: 20px;
  border-radius: 30px;
}

.signup_nickname-box {
  overflow: hidden;
  width: 250px;
  height: 20px;
  margin: 0 auto;
  position: relative;
}

.signup_nickname-info {
  float: left;
  width: 78%;
  margin: 0 0;
}

.signup_nickname-check {
  all: unset;
  cursor: pointer;
  position: absolute;
  font-size: 13px;
  color: #939393;
  right: 0px;
}

.signup_success {
  padding: 10px 0;
  color: rgb(48, 173, 46);
}

.signup_btn {
  all: unset;
  color: white;
  font-size: 20px;
  background-color: black;
  width: 90px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto 40px auto;
}

@media screen and (max-height: 770px) {
  .signup_content {
    padding: 35px 50px;
  }
  .signup_title {
    font-size: 30px;
  }

  .signup_btn {
    margin: 0px auto 6px auto;
  }
}

@media screen and (max-width: 770px) {
  .signup_content {
    width: 450px;
  }
  .signup_title {
    font-size: 27px;
  }
  .signup_container {
    width: 50px;
    height: 50px;
  }

  .signup_input {
    height: 35px;
    width: 245px;
    font-size: 18px;
  }
  .signup_input-last {
    height: 35px;
    width: 245px;
    font-size: 18px;
    margin: -5px auto 0px auto;
  }

  .signup_success {
    padding: 11px 0 5px 0;
    font-size: 17px;
  }
  .signup_btn {
    font-size: 15px;
    width: 80px;
    height: 35px;
    margin: 15px auto 15px auto;
  }

  .signup_nickname-box {
    display: flex;
    align-items: center;

    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .signup_content {
    width: 350px;
  }
  .signup_input {
    width: 180px;
    font-size: 15px;
  }
  .signup_input-last {
    width: 180px;
    font-size: 15px;
  }
  .signup_nickname-info {
    font-size: 12px;
  }
  .signup_success {
    font-size: 15px;
  }
  .signup_nickname-check {
    font-size: 10px;
    right: 22px;
  }
  .signup_nickname-info {
    width: 70%;
  }

  .sign_password {
    font-size: 14px;
  }

  .sign_password-check {
    font-size: 14px;
  }
}
