.notfound_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 660px;
  justify-content: center;
  text-align: center;
}

.notfound_img {
  width: 400px;
  height: 390px;
}

.notfound_title {
  font-size: 60px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .notfound_img {
    width: 350px;
    height: 340px;
  }
}
