.footer_container {
  display: flex;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  background-color: #febe54;
  user-select: none;
}

.footer_box1 {
  display: flex;
  width: 38%;
  height: 100%;
  flex-direction: column;
  font-size: 30px;
  color: #fff;
  padding: 38px;
  justify-content: flex-start;
}

.footer_box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 394px;
  height: 100%;
  color: #febe54;
  font-size: 50px;
  padding: 0.5%;
  font-family: "Ubuntu";
}

.footer_logo {
  width: 15%;
  height: 15%;
}

.footer_title {
  text-align: center;
}

.footer_box3 {
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 20px;
  align-items: center;
}

.footer_member {
  padding: 0 15px;
}

.footer_img {
  width: 23px;
  height: 23px;
}

@media screen and (max-width: 1919px) {
  .footer_container {
    width: 100%;
  }
}

@media screen and (max-width: 1490px) {
  .footer_box2 {
    padding: 0 0 0 0;
    font-size: 40px;
  }
  .footer_box3 {
    font-size: 18px;
  }
  .footer_member {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 1240px) {
  .footer_img {
    width: 18px;
    height: 18px;
  }
  .footer_member {
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .footer_box2 {
    background-color: #fff;
    width: 294px;

    /* font-size: 50px; */
  }

  .footer_box3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    width: 17%;
  }
}
@media screen and (max-width: 920px) {
  .footer_box1 {
    width: 35%;
  }
  .footer_box3 {
    width: 156px;
  }
  .footer_box1 {
    font-size: 27px;
  }
}

@media screen and (max-width: 770px) {
  .footer_container {
    display: none;
  }
}
