.mypage_info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 200px;
  margin: 200px auto 0 auto;
}

.mypage_info_box {
  display: flex;
}

.mypage_info_img {
  width: 120px;
  height: 130px;
  border-radius: 100px;
}

.mypage_info_text-box {
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mypage_info_title {
  font-size: 32px;
  margin-bottom: 3px;
}

.mypage_info_sign {
  margin-bottom: 3px;
}

.mypage_info_sign-day {
  font-size: 15px;
  color: rgb(132, 132, 132);
}

.mypage-btn {
  width: 100px;
  height: 50px;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 250;
  margin-right: 10px;
  cursor: pointer;
}

.mypage-btn:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.mypage_select_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 100px;
  margin: 50px auto auto;
  border-top: 2px solid rgb(217, 217, 217);
  border-bottom: 2px solid rgb(217, 217, 217);
}

.mypage_select_text {
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: rgb(217, 217, 217);
}

.mypage_select_text:hover {
  color: black;
}

.mypage_select_review-check {
  color: black;
}

.mypage_select_fav-check {
  color: black;
}

.mypage_result_container {
  width: 75%;
  height: 600px;
  margin: 0 auto 100px auto;
  padding: 5% 10% 0% 10%;
  border-bottom: 2px solid rgb(217, 217, 217);
  overflow: scroll;
}

.mypage_result_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media screen and (max-width: 770px) {
  .mypage_info_container {
    margin-top: 30px;
  }
  .mypage_info_img {
    width: 80px;
    height: 90px;
    border-radius: 100px;
  }

  .mypage_info_title {
    font-size: 23px;
  }

  .mypage_info_sign-day {
    font-size: 13px;
  }

  .mypage-btn {
    width: 70px;
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 170;
    margin-right: 5px;
  }

  .mypage_review_title {
    font-size: 25px;
  }

  .mypage_select_text {
    font-size: 17px;
  }
}

@media screen and (max-width: 440px) {
  .mypage_info_img {
    width: 60px;
    height: 70px;
    border-radius: 100px;
  }

  .mypage_info_title {
    font-size: 20px;
  }

  .mypage_info_sign {
    font-size: 15px;
  }

  .mypage_info_sign-day {
    font-size: 12px;
  }

  .mypage-btn {
    width: 50px;
    height: 25px;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 100;
    margin-right: 3px;
  }
}
