.closeBtn {
    all: unset;
    background-color: none;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 350ms ease-in 1;
  }
  
  .modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .modal__content {
    background-color: #febe54;
    padding: 80px 50px;
    text-align: center;
    position: relative;
    width: 400px;
    top: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  .login_hidden {
    display: none;
  }
  
  .nickname_writing {
    padding-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
  }
  
  .nick_title {
    font-size: 25px;
    padding-bottom: 30px;
  }
  
  .profile_input-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 60px auto 0 auto;
   
  }
  
  .nick_input-box-fatal {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    font-size: 13px;
  }
  
  .pwd_input {
    font-weight: 100px;
      padding: 10px 20px;
      border: 1px solid #ffffff !important;
      margin:  20px 0 20px 0;
      height: 40px;
      font-size: 12px;
      border-radius: 30px;
      background-color: rgba(185, 183, 183, 0.884);
  }

  .pwdC_input {
    font-weight: 100px;
      padding: 10px 20px;
      border: 1px solid #f8f7f7 !important;
      margin:  20px 0 20px 0;
      height: 40px;
      font-size: 12px;
      border-radius: 30px;
      background-color: rgba(185, 183, 183, 0.884);
  }
  
  .change_btn {
    all: unset;
    color: black;
    font-size: 20px;
    background-color: rgb(181, 243, 240);
    width: 90px;
    height: 40px;
    cursor: pointer;
    margin: 20px 0 40px 0;
  }
  
  .change_btn:hover {
    color: rgb(248, 6, 6);
  }
  
  .logout_bton {
    all: unset;
    color: black;
    font-size: 20px;
    background-color: white;
    width: 90px;
    height: 40px;
    cursor: pointer;
    margin: 0 0 40px 0;
  }
  
  .logout_bton:hover {
    color: rgb(247, 6, 6);
  }
  
  .profile_container {
    font-size: 30px;
    padding-bottom: 30px;
  }
  
  .edit_text{
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: grey;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(217, 217, 217);
  }
  
  .edit_text:hover {
    color: black;
  }
  
  @media screen and (max-width: 770px) {
    .login_content {
      width: 390px;
      padding: 60px 50px;
    }
  
    .login_title {
      font-size: 30px;
    }
  
    .login_input {
      height: 35px;
      width: 200px;
    }
  
    .login_btn {
      margin: 7px 0 25px 0;
    }
  
    .login_result-text {
      font-size: 17px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .login_content {
      width: 345px;
    }
    .login_input-box {
      width: 100%;
    }
  }
  