.mypage_empty_container {
  text-align: center;
  user-select: none;
}

.empty_none {
  display: none;
}

.mypage_empty-img {
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .mypage_empty-img {
    width: 300px;
  }
  .mypage_empty-text {
    font-size: 25px;
  }
}

@media screen and (max-width: 770px) {
  .mypage_empty-img {
    width: 200px;
  }
  .mypage_empty-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 440px) {
  .mypage_empty-img {
    width: 150px;
  }
  .mypage_empty-text {
    font-size: 15px;
  }
}
