.store_container {
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

.store_info_container {
  height: 40%;
  background-color: #febe54;
}

.store_info_box {
  display: flex;

  align-items: center;
  height: 500px;
  width: 75%;
  margin: 0 auto;
}

.store_info_box-line {
  display: flex;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.store_map-box {
  width: 643px;
  height: 400px;
}

.store_map {
  width: 100%;
  height: 100%;
}

.store_text-box {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  background-color: #fff;
  padding: 50px;
  border-top-right-radius: 100px;
}

.store_tx-title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.store_tx-title {
  font-size: 35px;
  font-weight: 500;
  margin-right: 15px;
}

.store_tx-box {
  display: flex;
  width: 100%;
  height: 100%;
}

.store_tx-icon-box {
  display: flex;
}

.store_tx-icon {
  width: 37px;
  height: 37px;
  margin-left: 10px;
  cursor: pointer;
}

.store_tx-info-box {
  font-size: 18px;
  margin: 70px 0 50px 0;
}

.store-btn {
  width: 135px;
  height: 40px;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 250;
  margin-right: 10px;
  cursor: pointer;
}

.store-btn:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.store_tx-info-text {
  margin-bottom: 10px;
}

.store_review_container {
  height: 60%;
  width: 85%;
  margin: 0 auto;
}

.store_review_box {
  display: flex;
  flex-direction: column;
  padding: 110px 90px;
  height: 900px;
}

.store_review_count {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.store_review_ul-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 80%) inset,
    0px 3px 5px rgb(200 200 200 / 50%);
  border-radius: 4px;
  padding: 100px;
  overflow: scroll;
}

.store_review_ul-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media screen and (max-width: 1380px) {
  .store_text-box {
    padding: 50px 20px 50px 50px;
  }
  .store_tx-box {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 1200px) {
  .store_info_box-line {
    flex-direction: column;
  }

  .store_map-box {
    margin: 0 auto;
  }
  .store_text-box {
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 50px;
    margin: 50px auto;
  }

  .store_info_box-line {
    border-top-right-radius: 0px;
  }

  .store_text-box {
    border-top-right-radius: 0px;
  }

  .store_info_box {
    height: 100%;
  }

  .store_info_box-line {
    background-color: #febe54;
  }
}

@media screen and (max-width: 920px) {
  .store_map-box {
    width: 500px;
    height: 325px;
  }

  .store_tx-title-box {
    display: block;
  }

  .store_text-box {
    padding: 50px 30px;
  }

  .store_tx-box {
    flex-direction: column;
    align-items: center;
  }
  .store_tx-title {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .store_tx-icon-box {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 770px) {
  .store_container {
    margin-top: 0px;
  }
  .store_info_box-line {
    margin: 20px auto;
  }

  .store_map-box {
    width: 420px;
    height: 325px;
  }

  .store_tx-icon-box {
    margin-top: 10px;
  }

  .store_tx-icon {
    width: 27px;
    height: 27px;
  }
  .store_tx-info-box {
    font-size: 13px;
    margin: 35px 0;
  }
  .store-btn {
    width: 119px;
    height: 34px;
    font-size: 15px;
    font-weight: 200;
  }
}

@media screen and (max-width: 600px) {
  .store_tx-btn-box {
    display: flex;
    flex-direction: column;
  }

  .store_map-box {
    width: 340px;
    height: 225px;
  }

  .store-btn {
    margin-top: 20px;
  }
  .store_tx-title {
    font-size: 30px;
  }
  .store_tx-info-box {
    margin: 35px 0 0 0;
  }
}

@media screen and (max-width: 470px) {
  .store_map-box {
    width: 250px;
    height: 155px;
  }
}
