.header_container {
  max-width: 768;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.header_logo {
  width: 40px;
  height: 40px;
}

.header_grid {
  display: grid;
  gap: 1.5rem;
}

.header_icon-size {
  width: 35px;
  height: 35px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.header_main {
  width: 100%;
  /* fixed 위치를 고정시켜주는 효과 ex) 메뉴 상단바, 광고 베너 등등 위치가 고정되어 스크롤을 이동해서 위치를 사수하여 자리 잡음 */
  position: fixed;
  /*하단으로 설정*/
  bottom: 0;
  left: 0;
  z-index: 1;
  /* 메인 화면보다 앞에 나와 가리는 효과 부여 */
  background-color: #febe54;
}

.header_nav {
  /* max-width: 968px; */
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title,
.header__toggle {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  font-family: "Ubuntu";
}

.header__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.header__item {
  position: relative;
}

.header__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-left: 0;
  padding-bottom: 15px;
}

.header__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.header_close-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 5px;
  top: 2px;
}

.search_label-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}

.show-menu {
  bottom: 0;
}

@media screen and (max-width: 770px) {
  .header__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    /* 나중에 컬러 결정할 곳 */
    background-color: #fff;
    /* 위치 잡아야 한다 나중에,,, */
    padding: -1rem 1.5rem 4rem;
    box-shadow: 0 -1px 5px rgb(0 0 0 / 25%);

    transition: 0.5s;
  }

  .header__menu_hidden {
    bottom: 0%;
  }
}

/* 테블릿, 스마트폰 사이즈에 맞는 하단바 미디어 쿼리 */
/* 그외 용도에는 절대 여기에 클래스네임 두지말 것!!! */
@media screen and (min-width: 771px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .header_main {
    top: 0;
    bottom: initial;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #febe54;
  }

  .header__link {
    font-size: 17px;
    color: #fff;
  }

  .header__link:hover {
    border-bottom: 1px solid #fff;
  }

  .header_logo {
    width: 60px;
    height: 60px;
  }

  .header__list {
    margin-right: 70px;
    padding-bottom: 0px;
  }

  .header_title {
    font-size: 60px;
  }

  .header_box1 {
    width: 33.33%;
  }

  .header_box2 {
    width: 33.33%;
    text-align: center;
  }

  .header_box3 {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
  }

  .header_nav {
    height: 12.5rem;
    column-gap: 1rem;
    width: 100%;
  }

  .header_icon-size,
  .header__toggle {
    display: none;
  }
}

@media screen and (max-width: 1445px) {
  .header_title {
    font-size: 40px;
  }

  .header__list {
    margin-right: 0;
  }

  .header_logo {
    width: 40px;
    height: 40px;
  }

  .header__link {
    cursor: default;
  }
}

@media screen and (max-width: 1080px) {
  .header__link {
    font-size: 13px;
  }
}

@media screen and (max-width: 905px) {
  .header__link {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
  .header_logo {
    width: 35px;
    height: 35px;
  }

  .header_title {
    font-size: 35px;
  }
}
