[name="slide"] {
  display: none;
}

.render_main-slidebox {
  max-width: 600px;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}

.render_main-slidebox .render_main-img {
  max-width: 100%;
}

.render_main-slidebox .render_main-slideList {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}

.render_main-slidebox .render_main-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.35s;
}

.render_main-slidebox .render_main-item .render_main-label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.render_main-left {
  background-image: url("./arrow_left.svg");
  background-position: center center;
  background-size: 190%;
  background-repeat: no-repeat;
  left: 10px;
  width: 40px;
  height: 40px;
}

.render_main-right {
  background-image: url("./arrow_right.svg");
  background-position: center center;
  background-size: 190%;
  background-repeat: no-repeat;
  right: 10px;
  width: 40px;
  height: 40px;
}

[id="render-slide-01"]:checked ~ .render_main-slideList .render_main-item {
  transform: translateX(0);
  animation: render-slice-1 20s infinite;
}

[id="render-slide-02"]:checked ~ .render_main-slideList .render_main-item {
  transform: translateX(-100%);
  animation: render-slice-2 20s infinite;
}

[id="render-slide-03"]:checked ~ .render_main-slideList .render_main-item {
  transform: translateX(-200%);
  animation: render-slice-3 20s infinite;
}

[id="render-slide-04"]:checked ~ .render_main-slideList .render_main-item {
  transform: translateX(-300%);
  animation: render-slice-4 20s infinite;
}

@keyframes render-slice-1 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  73% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  100% {
    left: 0%;
  }
}

@keyframes render-slice-2 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  73% {
    left: -200%;
  }
  75% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes render-slice-3 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  50% {
    left: 200%;
  }
  73% {
    left: 200%;
  }
  75% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes render-slice-4 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  25% {
    left: 300%;
  }
  48% {
    left: 300%;
  }
  50% {
    left: 200%;
  }
  73% {
    left: 200%;
  }
  75% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@media screen and (max-width: 770px) {
  .render_main-slidebox {
    max-width: 400px;
    padding-top: 200px;
  }
}

@media screen and (max-width: 550px) {
  .render_main-slidebox {
    max-width: 270px;
    padding-top: 200px;
  }

  .render_main-right {
    background-size: 100%;
    right: 0px;
  }

  .render_main-left {
    background-size: 100%;
    left: 0px;
  }
}
