.map_list-img {
  height: 150px;
  width: 200px;
}

.map_list-store {
  margin: 30px auto 45px auto;
  color: rgb(151, 149, 149);
  cursor: pointer;
}

.map_list-store:hover {
  color: rgb(178, 176, 176);
}
