.search_hidden {
  display: none;
  visibility: hidden;
}

.search_modal_container {
  position: fixed;
  top: 200px;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.search_modal_container_none {
  right: -50%;
}

.search_modal_width {
  width: 100%;
}
/* 검색 라인 레이아웃 구조 */
.search_container {
  padding: 5px 20%;
  width: 100%;
  height: 100%;
}

.search_container_close-box {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 850px;
  height: 40px;
  margin: 0 auto;
}

.search_container_close {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
}

.search_nav {
  padding: 2% 0 2% 0;
}

.search_nav-box {
  display: flex;
  margin: 0 auto;
  width: 700px;
  height: 50px;
}

.search_select {
  font-size: 20px;
  width: 15%;
}

.search_select-box {
  position: relative;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #bcb9b9;
}

.search_icon-arrow {
  position: absolute;
  right: -4px;
  top: 10px;
  height: 30px;
  width: 30px;
}

.search_list-box {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 103px;
  background-color: #fff;
  border: 2px solid #bcb9b9;
  border-top: 0;
}

.search_list {
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.search_list:hover {
  background-color: #febe54;
  color: #fff;
}

.search_input-box {
  width: 88%;
  display: flex;
}

.search_input {
  width: 92%;
  font-size: 20px;
  padding: 0 20px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #bcb9b9;
}

.search_icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  cursor: pointer;
  border-bottom: 2px solid #bcb9b9;
}

.search_icon {
  height: 60%;
  width: 60%;
}

#search_modal[type="checkbox"]:checked ~ .search_modal_container {
  visibility: visible;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.search_lately-container {
  display: flex;
  width: 700px;
  margin: 0 auto;
  flex-direction: column;
}

.search_lately-title {
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #bcb9b9;
}

.search_lately-box {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 100%;
  height: 85px;
  overflow: scroll;
}

.search_lately-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.search_result-container {
  padding-top: 50px;
  display: flex;
  width: 700px;
  height: 350px;
  margin: 0 auto;
  flex-direction: column;
}

.search_result-box {
  padding: 0 0 0 0;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.search_result-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  height: 100%;
  width: 100%;
  padding: 30px 15px;
  overflow: scroll;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-height: 750px) {
  .search_result-list {
    padding: 10px 15px;
  }
  .search_result-container {
    padding-top: 35px;
  }
  .search_container_close-box {
    height: 0px;
  }
}

@media screen and (max-width: 1445px) {
  .search_container_close-box {
    width: 800px;
  }
}

@media screen and (max-width: 1200px) {
  .search_nav-box {
    width: 600px;
  }
  .search_list-box {
    width: 90px;
  }
  .search_icon-box {
    width: 9%;
  }

  .search_lately-container {
    width: 600px;
  }

  .search_result-container {
    width: 600px;
  }

  .search_container_close-box {
    width: 700px;
  }
}

@media screen and (max-width: 1080px) {
  .search_nav-box {
    width: 500px;
  }
  .search_select {
    font-size: 20px;
    width: 93px;
  }
  .search_icon-box {
    width: 11%;
  }

  .search_lately-container {
    width: 500px;
  }

  .search_result-container {
    width: 500px;
  }

  .search_container_close-box {
    width: 600px;
  }
}

@media screen and (max-width: 905px) {
  .search_nav-box {
    width: 400px;
  }

  .search_select {
    font-size: 20px;
    width: 100px;
  }

  .search_icon-box {
    width: 11%;
  }

  .search_input {
    font-size: 15px;
  }

  .search_lately-container {
    width: 400px;
  }

  .search_result-container {
    width: 400px;
  }
  .search_container_close-box {
    width: 500px;
  }

  .search_container_close {
    width: 30px;
    height: 30px;
    position: absolute;
  }
}

@media screen and (max-width: 770px) {
  .search_modal_container {
    top: 0px;
  }
  .search_container {
    padding: 75px 20%;
  }

  .search_result-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .search_nav {
    padding: 2% 0 7% 0;
  }
}

@media screen and (max-width: 690px) {
  .search_nav-box {
    width: 300px;
  }
  .search_select {
    font-size: 18px;
    width: 100px;
  }

  .search_input::placeholder {
    font-size: 10px;
  }

  .search_lately-container {
    width: 300px;
  }

  .search_lately-title {
    font-size: 15px;
  }

  .search_lately-box {
    font-size: 15px;
  }

  .search_result-container {
    width: 300px;
  }

  .search_container_close-box {
    width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .search_container {
    padding: 75px 0%;
  }
  .search_container_close-box {
    width: 300px;
  }
}
