.password_chan {
  height: 280px;
}

.password_chan_input-box {
  height: 75px;
}

.password_chan_input {
  font-weight: 100;
  padding: 10px 20px;
  border: 2px solid #8a8a8a !important;
  margin: 5px auto;
  height: 40px;
  font-size: 20px;
  width: 100%;
  border-radius: 30px;
}

.password_chan_input-word {
  font-size: 14px;
}

.password_chan_input-word2 {
  font-size: 14px;
  color: rgb(224, 30, 30);
}

.password_chan-container {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.password_chan_btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  flex-direction: column;
}

.password_chan_btn-text-box {
  height: 45px;
  display: flex;
  align-items: center;
}

.password_chan_btn-text-success {
  color: rgb(33 137 32);
}

.password_chan_btn {
  all: unset;
  color: white;
  font-size: 25px;
  background-color: black;
  width: 120px;
  height: 50px;
  cursor: pointer;
  align-items: center;
}

.password_chan_btn:hover {
  color: rgb(207, 206, 206);
}

.password_chan_none {
  display: none;
}

@media screen and (max-width: 500px) {
  .password_chan-container {
    margin: 50px 0 0 0;
    width: 100%;
  }

  .password_chan_input {
    width: 230px;
  }
}

@media screen and (max-width: 400px) {
  .password_chan_input {
    width: 190px;
    font-size: 16px;
    height: 35px;
  }
}
